html,
body {
  min-height: 100%;
}

.navbar-dark .navbar-brand {
  color: #f54786;
}

.author-text {
  color: rgba(255, 255, 255, 0.75);
}

.author-text a {
  color: white;
  text-decoration: none;
}

footer {
  height: 60px;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}

@media (min-width: 48em) {
  .masthead-brand {
    float: left;
  }
  .nav-masthead {
    float: right;
  }
}
