html {
    position: relative;
    min-height: 100%;
}

body {
    background-color: #404040;
    font-family: 'Lato', sans-serif;
    margin-bottom: 50px;
}

.container {
    margin-top: 15px;
}

.pre-auth {
    text-align: center; 
    padding-top: 14%;
}

#heading-seperator {
    width: 45%;
    border: 1px solid #DCDCDC;
}

.display-1 {
    color: #ff0080;
}

.h2 {
    color: 	#DCDCDC;
}

.h3 {
    color: #DCDCDC;
    text-align: center;
}

.btn-lg {
    color: #DCDCDC;
}

.hidden {
    display: none !important;
    visibility: hidden !important;
}

.navbar-brand {
    color: #ff0080;
    font-size: 2rem;
}

.nav-item {
    font-size: 1.5rem;
}

#date-range-input {
    margin-top: 8px;
    width: 100%;
}

#date-range-label {
    color: #DCDCDC;
    font-size: 1.25rem;
    text-align: right;
}

#date-range-submit {
    color: #DCDCDC;
    margin-top: 5px;
}

.post-auth-hr {
    width: 90%;
    border: 1px solid #DCDCDC;
}

#download-section {
    color: #DCDCDC;
    text-align: center;
}

#download-link {
    text-decoration: none;
    color: #DCDCDC;
}

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    height: 50px;
    line-height: 50px; /* Vertically center the text there */
  }
  