body {
    font-family: Helvetica, sans-serif;
}

#container {
    max-width: 800px;
    margin: 0 auto;
}

#login-container {
    margin-top: 7rem;
    text-align: center;
}

h3 {
    padding-bottom: 15px;
}

#login-container a {
    background-color: #FA8072;
    color: white;
    padding: 1rem;
    border: 2px solid #FF6347;
    text-decoration: none;
}

#date_selection_form {
    text-align: center;
    margin-top: 20px;
    padding-bottom: 20px;
}

#container {
    margin-top: 10px;
    margin-bottom: 20px;
}
  
.pre-auth {
    display: none;
    border: 2px solid #17BECF;
    padding-bottom: 50px;
}

.post-auth {
    border: 2px solid #17BECF;
    display: none;
}

#chart {
    width: 700px;
    height: 300px;
    margin: 1rem auto;
}

#submit_button {
    margin-top: 10px;
    background-color: #17BECF; 
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
}

footer {
    margin-top: 15px;
    text-align: center;
}

#resting_rate_visualization {
    display: none;
    text-align: center;
}

#download {
    display: none;
    text-align: center;
    padding-left: 60px;
    padding-right: 60px;
}

#download_button {
    display: block;
    margin: auto;
    background-color: #00cc00; 
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;  
}

.start_font {
    color: #4CAF50;
    font-weight: bold;
}

.end_font {
    color: #f44336;
    font-weight: bold;
}