html,
body {
  height: 100%;
}

.container {
  margin-bottom: 65px;
}

.footer {
  color: rgba(255, 255, 255, 0.75);
}

.footer a {
  color: white;
  text-decoration: none;
}

#download-link {
  text-decoration: none;
  display: none;
}

#download-button {
  cursor: pointer;
}
