html,
body {
  min-height: 100%;
}

.navbar-dark .navbar-brand {
  color: #f54786;
}

.container {
  margin-bottom: 65px;
}

.author-text {
  color: rgba(255, 255, 255, 0.75);
}

.author-text a {
  color: white;
  text-decoration: none;
}

#download-link {
  text-decoration: none;
  display: none;
}

#download-button {
  cursor: pointer;
}

footer {
  height: 60px;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}

.chart-container {
  position: relative;
  margin: auto;
  height: 90vh;
  width: 80vw;
}
